.calendarcol, .padding, .lang, .toplinks, #menu, .footer, #leftcol, #rightcol
{display:none;}

#centercol, #centercolHide
{border:none;width:100%;}

.floatleft, .floatright
{display:inline-block;display:none;}

p,table,span,td,th,li,form,div,blockquote
{
	border:none !important;
}