
/*KILL*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td 
{margin:0px;padding:0px;border:0px;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {font-weight:normal;}
table, td, th {vertical-align:top;}
*:focus { outline: none; }
blockquote:before, blockquote:after, q:before, q:after {fadebox:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}


/*STYLE*/
body {font-family:arial;font-size:13px;color:#666666;}
h1, h2, h3, h4, h5, h6, h7 {font-weight:normal;color:#000; margin:0px 0px 10px 0px;font-family:arial;}
h1 {font-size:24px;margin-bottom:20px;margin-top:22px;font-weight:bold;}
h2 {font-size:18px;font-weight:bold;}
h3 {font-size:16px;}
h4 {font-size:14px;}
h5 {font-size:12px;}
h6 {font-size:10px;}
 
p {margin:0px 0px 10px 0px;line-height:21px;font-size:13px;color:#666666;}

a,  a:link,  a:visited,  a:focus,  a:active
{color:#1a7ceb;text-decoration:none;outline-style:none;} 

a:hover  
{color:#064e9e;}

ol li {padding-left:13px;line-height:19px;margin-bottom:10px;list-style-type: decimal; }  

ul, ol {padding:0px;margin-left:15px;}

ol li {padding-left:0px;}

ul li
{
	line-height:19px;
	padding-left:10px;
	background: url('dot.gif') left 8px no-repeat;
	list-style-type: none;
	margin-bottom:10px;
}

input, textarea, select {
    border: 1px solid #f3f3f3;
    color: #000;
    font: normal 10px Arial, Helvetica, sans-serif;
    background-color: #fff;}

hr{display: block;clear: both;background: #ccc;color: #ccc;width: 100%;height: 1px;border: none; }

/*----------------------page---------------------*/
#theboss {
	height: 100%;
	min-height: 500px;
	position: relative;
	overflow: hidden;
}

*html #theboss { height: 724px; overflow: visible;}

.page {margin: 20px auto;width: 1000px;}

/*-----------------columns-----------------------*/
#leftcol
{
	width:175px;
	float:left;
	margin-right:25px;
}

#rightcol
{
	width:200px;
	float:right;
}

.co_right {width:470px;float:right;}
.co_left {float:left;width:475px;}

#centercol
{
	width:515px;min-height:400px;
	margin-right:5px;
	float:left;
	padding:0px 40px 20px 40px;
	background: url(greysun.jpg) right top no-repeat;
}

#centercolHide
{
	float:left;
	width:755px;
	padding:0px 20px 20px 20px;
	min-height:400px;
}

.pixels
{background: url(bgcenter.jpg) right top repeat-y;overflow:hidden;}

.pixelsbig
{background: url(bgcenterbig.jpg) right top repeat-y;overflow:hidden;}


/*------------------------index--------------------*/
.flashcol
{
	width:682px;
	float:left;
	padding:10px 0px 15px 15px;
}
.calendarcol
{
	width:170px;
	float:right;
	padding:10px 15px 15px 0px;
}

/*---------------------indextext------------------*/
.indextext {float:left;margin:11px 11px 0px 0px;width:270px;}


/*--------------------languages--------------------*/
.languages {margin:5px 15px;text-align:right;}

.languages A, .languages A:link, .languages A:visited, .languages A:focus, .languages A:active
{color:#555;font-size:11px;}

.languages A:hover 
{color:#000;}

/*--------------------topmenu----------------------*/
.topmenu {font-size:12px;text-align:right;margin:0px 15px 15px 15px;float:right;color:#aaa;display:inline;}

.topmenu A, .topmenu A:link, .topmenu A:visited, .topmenu A:focus, .topmenu A:active
{color:#555;font-size:12px;}

.topmenu A:hover
{color:#000;}

/*---------------------search----------------------*/
.search {float:right;margin:25px 20px 0px 0px;font-size:12px;width:165px;border:1px solid #cccccc;}
.search input {float:left;width:110px;height:19px;padding:0px;font-size:12px;color:#6699ff;border:1px solid #a1a1a1;border-right:none;}

.search input.go {width:21px;height:21px;border:none;float:right;}


/*------------------------menu-------------------*/
#menu
{
	overflow:hidden;
	text-align:center;
	background: url(bgmenu.jpg) center top repeat-x;
	width:998px;
	border-left:1px solid #616161;
	border-right:1px solid #616161;
}

#menu div, img.marker
{
	float:left;
}

#menu A, #menu A:link, #menu A:visited, #menu A:focus, #menu A:active
{
	color: #fff;
	display:block;
	font-size:16px;
	padding:0px 14px;
	line-height:33px;
	height:35px;
}

#menu A:hover 
{
	text-decoration:none;
	color: #000;
	background: url(bgmenu2.jpg) center top repeat-x;
}

#menu div.this a
{
	color: #000;
	background: url(bgmenu2.jpg) center top repeat-x;
}



/*------------------breadcrumbs------------------*/
.breadcrumbs{color:#999999;text-align:left;font-size:12px;margin:8px 0px 10px 0px;display:block;}
.breadcrumbs A, .breadcrumbs A:link, .breadcrumbs A:visited, .breadcrumbs A:focus, .breadcrumbs A:active
{font-size:12px;color:#999999;}
.breadcrumbs A:hover 
{color:#000;}

/*--------------------navScroll-------------------------*/
.navScroll {margin-top:20px;padding:0px 8px 0px 8px;}

#nextScroll {float:left;}

/*---------------------featureSlider------------------------*/
#featureSlider {
	position: relative;
	display: block;
	overflow: hidden;

}

#featureSlider li {
	width:300px;
	background:none;
	list-style: none;
}

/*------------------------features-----------------*/
.features {background: url(feab.jpg) center bottom no-repeat;float:right;width:300px;margin-left:30px;}

.feature {line-height:27px;width:215px;float:left;overflow:hidden;border-top:2px solid #5b5b5b;min-height:130px;margin-right:35px;}

.feature img {float:left;margin-right:10px;margin-bottom:8px;}


.feature A, .feature A:link, .feature A:visited, .feature A:focus, .feature A:active
{font-size:14px;color:#f38926;font-weight:bold;display:block;font-family:arial;}

.feature A:hover 
{color:#fff;}

.feature p
{color:#ccc;}

/*------------------------bigfeature-----------------*/
.bigfeature {display:block;}

.bigfeature .title {padding:0px 0px 5px 0px;}

.bigfeature .title A, .bigfeature .title A:link, .bigfeature .title A:visited, .bigfeature .title A:focus, .bigfeature .title A:active
{font-size:15px;color:#f38926;font-weight:bold;}

.bigfeature .title A:hover 
{color:#000;}

.bigfeature .bigfeaturimage 
{float:left;margin-right:10px;}

/*-------------------helpbutton------------------*/
.helpbutton{margin:15px 50px 10px 0px;display:inline-block;}
.helpbutton img {margin:0px 10px 0px 0px;}
.helpbutton A, .helpbutton A:link, .helpbutton A:visited, .helpbutton A:focus, .helpbutton A:active
{
	font-size:11px;
}

.helpbutton A:hover 
{}

/* -------------- menulevel0 ------------------- */
.menulevel0{margin-top:20px;margin-bottom:10px;}

.menulevel0 A, .menulevel0 A:link, .menulevel0 A:visited, .menulevel0 A:focus, .menulevel0 A:active
{
	display:block;
	padding:5px 0px 2px 15px;
	color:#666;
	font-size:13px;
	background: url(arrowgrey.gif) left 10px no-repeat;
}

.menulevel0 A:hover 
{color:#000;background: url(arroworange.gif) left 10px no-repeat;}

.menulevel0 A.this, .menulevel0 A.this:link, .menulevel0 A.this:visited, .menulevel0 A.this:focus, .menulevel0 A.this:active
{color:#000;background: url(arroworange.gif) left 10px no-repeat;}

/* ---------------- menulevel1 ----------------- */
.menulevel1{border-bottom:1px solid #bdbdbd;}

.menulevel1 A, .menulevel1 A:link, .menulevel1 A:visited, .menulevel1 A:focus, .menulevel1 A:active
{
	display:block;
	padding:2px 0px 2px 25px;
	color:#444;
	font-size:12px;
	background: url(arrowgrey.gif) 10px 5px no-repeat;
}

.menulevel1 A:hover 
{color:#f38620;background: url(arroworange.gif) 10px 5px no-repeat;} 

.menulevel1 A.this, .menulevel1 A.this:link, .menulevel1 A.this:visited, .menulevel1 A.this:focus, .menulevel1 A.this:active
{color:#f38620;background: url(arroworange.gif) 10px 5px no-repeat;}

/* ----------------- menulevel2 ---------------- */
.menulevel2{}

.menulevel2 A, .menulevel2 A:link, .menulevel2 A:visited, .menulevel2 A:focus, .menulevel2 A:active
{
	display:block;
	padding:5px 0px 5px 30px;
}

.menulevel2 A:hover {}

.menulevel2 A.this, .menulevel2 A.this:link, .menulevel2 A.this:visited, .menulevel2 A.this:focus, .menulevel2 A.this:active
{}

/* ------------------ menulevel3 --------------- */
.menulevel3{}

.menulevel3 A, .menulevel3 A:link, .menulevel3 A:visited, .menulevel3 A:focus, .menulevel3 A:active
{
	display:block;
	padding:5px 0px 5px 45px;
}

.menulevel3 A:hover{}

.menulevel3 A.this, .menulevel3 A.this:link, .menulevel3 A.this:visited, .menulevel3 A.this:focus, .menulevel3 A.this:active
{}	

/*-----------------comments----------------------*/
.comments{color:#ff0000;font-size:11px;}

/*-------------------formtable-------------------*/
.formtable
{width:435px;margin-bottom:10px;} 

.formtable span.red
{color:#ff0000;font-size:11px;width:3px;padding:12px 0px 0px 0px;float:left;}

.formtable span.long
{width:153px;}

.formtable span
{padding:12px 5px 0px 5px;display:inline-block;width:160px;float:left;}

.formtable span.other
{padding:0px 5px 0px 5px;display:inline-block;width:160px;float:left;}

.formtable span.red2
{color:#ff0000;font-size:11px;width:3px;padding:0px 0px 0px 0px;float:left;}

.formtable .comments{padding:0px;}

.formtable span.spanselect
{padding:5px;display:inline-block;width:133px;}

.formtable input
{width:250px;font-size:18px;margin:5px 0px;height:25px;border:5px solid #dfdfdf;background:#fff;}

.formtable input:hover {border:5px solid #fff;background:#ccc;}

.formtable select
{width:255px;margin:3px 0px;height:40px;border:5px solid #dfdfdf;background:#fff;font-size:18px;}
.formtable select:hover {border:5px solid #fff;background:#ccc;}


.formtable textarea
{width:412px;font-size:14px;height:100px;margin-left:10px;border:5px solid #dfdfdf;background:#fff;}

.formtable textarea:hover {border:5px solid #fff;background:#ccc;}

.formtable .important
{float:left;}

.formtable input.shortinput
{float:right;width:111px !important;}

.submit {
	width:115px !important;
	background:#f38620;
	color:#fff;
	font-size:12px;
	border:1px solid #b84a00;
	float:right;
}

/*---------------------shortinput------------------*/
.shortinput {width:109px !important;}

/*---------------------longinput-------------------*/
.longinput {width:170px !important;}


/*----------------------checkbox-------------------*/
.checkbox {width:15px !important;border:none;}

/*------------------------floatleft----------------*/
.floatleft{float:left;}

/*------------------------floatright---------------*/
.floatright{float:right;}

/*-------------------doclinkimg--------------------*/
.doclinkimgtitle
{padding:0px;margin:0px 0px 5px 0px;color:#000;font-size:14px;font-weight:bold;font-family:arial;border-bottom:1px solid #ccc;}

.doclinkimg 
{padding:0px 0px;margin-bottom:2px;display:block;}

.doclinkimg img 
{margin:0px 5px 0px 0px;}

.doclinkimg span 
{font-size:12px;}

.doclinkimg A, .doclinkimg A:link, .doclinkimg A:visited, .doclinkimg A:focus, .doclinkimg A:active
{font-size:12px;color:#666;}
.doclinkimg A:hover 
{color:#000;}

/*----------------------image---------------------*/
.image 
{text-align:center;font-weight:bold;margin:0px 10px 5px 10px;}

.image img
{padding:2px;border:1px solid #aaa;}

/*-----------------------more---------------------*/
.more{background: url(pixel.gif) center center repeat-x;margin-bottom:25px;text-align:right;}

.more A, .more A:link, .more A:visited, .more A:focus, .more A:active {}

.more A:hover {}

/*----------------------news----------------------*/
.news{width:100%;padding-bottom:10px;margin-bottom:25px;overflow:hidden;border-bottom:1px solid #ccc;}

.news div {overflow:hidden;line-height:19px;}

.news span {color:#6699ff;padding:1px 0px;display:block;}

.news h4 {color:#000;margin-bottom:0px;font-weight:bold;}

.news img {margin-right:10px;float:left;margin-top:4px;}

.news A, .news A:link, .news A:visited, .news A:focus, .news A:active
{color:#f38620;}

.news A:hover 
{color:#003999;}

/*----------------------events-----------------------*/
.events{width:100%;padding-bottom:10px;margin-bottom:25px;overflow:hidden;
background:#e6e6e6 url(bgevents.jpg) center top repeat-x;
border:1px solid #ccc;}
.events table {margin:10px;}
.events td {padding:3px 0px;font-weight:bold;color:#000;}

.events td.title {color:#000;white-space:nowrap;}
.events span.title {font-weight:normal;white-space:nowrap;}
.events span {color:#000;/*white-space:nowrap;*/font-weight:bold;padding:3px 0px;display:inline-block;}

.events h4 {color:#000;margin-bottom:0px;font-weight:bold;}

.events p {margin:0px;font-weight:normal;color:#666666;}

.events A, .events A:link, .events A:visited, .events A:focus, .events A:active
{color:#f38620;}

.events A:hover 
{color:#003999;}

/*----------------------management----------------*/
.management{margin:0px 0px 25px 0px;display:block;overflow:hidden;
width:100%;border-bottom:1px solid #cccccc;line-height:19px;padding-bottom:10px;}
.management h4 {margin-bottom:0px;}

.management div.imginner {float:left;}
.management div.imginner img {margin-right:10px;border:4px solid #fff;width:100px;}

.management span {padding:0px 0px;display:inline-block;}

.management span.title {padding:0px 0px;display:inline-block;width:70px;/*font-weight:bold;*/color:#000;}


.management A, .management A:link, .management A:visited, .management A:focus, .management A:active
{color:#f38620;}

.management A:hover 
{color:#003999;}

/*--------------------height150-------------------*/
.height150
{min-height:150px;}

/*--------------------width150--------------------*/
.width150
{width:150px;float:left;margin-right:11px;}

/*--------------------widhei150-------------------*/
.widhei150
{width:150px;height:150px;float:left;margin-right:11px;}

.widhei150150
{width:150px;height:150px;}

/*----------------------cells---------------------*/
.cells
{width:170px;float:left;margin:10px 51px 20px 0px;text-align:center;}

.cellsimg
{min-height:150px;border:1px solid #e4e4e4;text-align:center;}

/*-----------------------productcell--------------*/
.productcell 
{
	margin:0px 10px 20px 0px;float:left;text-align:center;width:150px;min-height:195px;
	border-bottom:2px solid #ccc;padding-bottom:5px;
}

/*--------------------productlist-----------------*/
.productlist {width:100%;margin-top:10px;margin-bottom:30px;border-bottom:1px solid #ccc;}

.productlist td.tdimage {padding-right:15px;width:150px;}

.productprice {float:right;border:none;margin-left:10px;margin-top:5px;}

/*-----------------productpic---------------------*/
.productpic {height:225px;}

/* --------------------- faq -------------------- */
dl {display:block;}
dt,dd
{
	text-align:justify;
	padding: 0px 0px 0px 20px;
	margin: 10px 0px;
}

.faq dt
{
	color:#000;
	cursor: help;
	display:block;
	padding-left:15px;
	background: url(q.gif) left 3px no-repeat;
}

.faq dd
{
	color:#666;
	margin-bottom:30px;
	background: url(a.gif) left 5px no-repeat;
	/*border-bottom:1px solid #ccc;*/
	padding-bottom:10px
	padding-left:15px;
}

.supportDL dd, .faq dd
{display: none;}

/*----------------------links----------------------*/
.links
{width:100%;}

.links td {border-bottom:1px solid #ccc;font-size:14px;}
.links h4 {font-weight:bold;}
.links td.title
{padding:5px 0px;width:60%;font-size:14px;}

.links td.abstract
{padding:5px 0px;text-align:right;font-size:14px;}

.links A, .links A:link, .links A:visited, .links A:focus, .links A:active
{color:#0066ff;font-size:14px;} 

.links A:hover 
{color:#000;}

/*----------------------exlinks--------------------*/
.exlinks
{
	background: url(shadow.gif) repeat-x;overflow:auto;
	width:100%;margin-bottom:15px;display:block;padding-top:15px;
}

/*-----------------------download------------------*/
.download {width:100%;}

.download td {border-bottom:1px solid #ccc;}

.download td.title
{padding:5px 5px;font-weight:bold;}

.download td.date
{width:155px;padding:5px 5px;}

.download td.abstract
{padding:5px 5px;}

.download span {color:#0063ac;}

.download A, .download A:link, .download A:visited, .download A:focus, .download A:active
{color:#f38620;}

.download A:hover 
{} 

.download img
{margin-right:5px;}

/* ------------------ sitemap -------------------- */
.sitemapheader
{margin:20px 0px 0px 0px;font-weight:bold;}

.sitemap
{float:left;width:200px;margin:10px;}

.sitemap A, .sitemap A:link, .sitemap A:visited, .sitemap A:focus, .sitemap A:active
{}

.sitemap A:hover
{text-decoration:none; }

.sitemap UL
{margin:5px 0px 5px 10px;}

.sitemap LI
{
	line-height:19px;
	padding-left:10px;
	background: url('dot.gif') left 8px no-repeat;
	list-style-type: none;
}

.sitemap LI LI
{margin:5px 15px;}

.sitemap LI LI LI
{margin:5px 20px;}

/*--------------------projects---------------------*/
.projects {float:left;margin:0px 8px 20px 0px;width:152px;text-align:center;}

.projects A, .projects A:link, .projects A:visited, .projects A:focus, .projects A:active
{font-size:13px;color:#f38926;font-weight:bold;}

.projects A:hover
{text-decoration:none;color:#000; }

/*---------------------thumbscol-------------------*/
.thumbscol {text-align:center;float:right;width:140px;height:425px;background:#f3f3f3;padding:5px;overflow: auto;}
.thumbscol img {margin-bottom:10px;cursor:pointer;width:115px;}

/*----------------------thumbs---------------------*/
.thumbs 
{
	cursor:pointer;width:85px;height:85px;
	overflow:hidden;padding:0px;
}

/*-----------------bigpic--------------------------*/
.bigpic {width:580px;height:435px;margin-bottom:11px;}

/*-----------------------infoboxes-----------------*/

.infoboxestop
{ 
	padding:10px 0px;
	margin:20px 0px;
}
.infoboxes
{ 
	font-size:12px;
	width:150px;
	margin:0px auto;
	color:#fff;
}

.infoboxes h5
{color:#000;font-size:12px;font-weight:bold;margin-bottom:5px;}

.infoboxes A, .infoboxes A:link, .infoboxes A:visited, .infoboxes A:focus, .infoboxes A:active
{color:#fff;font-size:12px;}

.infoboxes A:hover 
{color:#000;}

.infoboxeslinks
{border-bottom:1px solid #aaa;padding:10px 0px 3px 0px;}

/*--------------------mynews-------------------------*/
#mynews
{
	/*background: url(newsbg.jpg) repeat-x;*/
	padding:0px 10px;
}

/*----------------articles---------------------------*/
.articles
{margin:10px 0px;display:block;overflow:auto;}

.articles span.name
{margin:0px 0px 2px 0px;font-style:italic;}

.articles span.date
{color:#555;font-size:11px;}

.articles span.title
{color:#f38620;font-weight:bold;margin-bottom:3px;}

.articles span.title A, .articles span.title A:link, .articles span.title A:visited, .articles span.title A:focus, .articles span.title A:active
{font-weight:bold;}

.articles span.title A:hover 
{}

.articles A, .articles A:link, .articles A:visited, .articles A:focus, .articles A:active
{color:#f38620;}

.articles A:hover 
{}

.bgcolor
{background:#efefef;padding:3px 0px;margin-top:10px;}

.bgcolor img
{margin:0px 5px;}

/*--------------------glossary-------------------------*/
.glossaryABC
{ 
  float:left;margin:1px;padding:2px;font-size:15px;color:#f38620;font-weight:bold;
}

.glossaryABC A, .glossaryABC A:link, .glossaryABC A:visited, .glossaryABC A:focus, .glossaryABC A:active
{font-size:15px;font-weight:bold;}

.glossaryABC A:hover 
{}

.glossary {width:100%;}

.glossary div.letter
{
	margin-bottom:11px;width:25px;
	background:#ff850d url(circleleft.gif) no-repeat;
}

.glossary div.letter span
{
	height:23px;
	display:block;
	font-size:15px;
	font-weight:bold;
	color:#fff;
	text-align:center;
	line-height:23px;
	background: url(circleright.gif) right top no-repeat;
}

.glossary div.gotop
{
	margin-top:5px;margin-bottom:11px;
	text-align:right;font-size:10px;
	border-bottom:1px solid #aaa;
}

.glossary p
{text-align:justify;color:#000;line-height:19px;padding:0px;}

/*------------------------strip-----------------------------*/
.strip
{width:682px;height:116px;overflow:hidden;}

/*------------------------padding---------------------------*/
.padding {padding:10px;}

/*-----------------------mailinglist------------------------*/
.mailinglist
{margin-top:11px;margin-bottom:11px;display:block;}

.mailinglist input
{margin-top:4px;}

/*-------------------------------tambs----------------------*/
.tambs
{
	margin:0px 10px 20px 0px;
	padding:3px;
	border:1px solid #ccc;
	float:left;
}
.tambs div
{
	height:99px;
	width:150px;
	cursor:pointer;
	overflow:hidden;
	border:1px solid #666;
}

/*------------------shopcart--------------------------------*/
.shopcart {border-top:3px solid #f38620;padding-top:5px;}
.shopcart span {}
.shopcart span.title {display:inline-block;width:300px;}
.shopcart span.uprice {display:inline-block;width:80px;}
.shopcart span.price {display:inline-block;width:60px;}
.shopcart span.quanity {display:inline-block;width:30px;}
.shopcart span.price {display:inline-block;}
.shopcart span.del {float:right;}
.shopcart .totalprice {padding:5px 0px 15px 0px;border-top:1px solid #f38620;margin-top:10px;}

/*------------------shoppingcarttable-----------------------*/
.shoppingcarttable {}
.shoppingcarttable th {background:#d5d5d5;text-align:left;font-weight:bold;padding:4px 10px;}
.shoppingcarttable td {padding:4px 10px;background: url('italgreendots.gif') center bottom repeat-x;}
.shoppingcarttable td.total {font-weight:bold;font-size:16px;padding:4px 10px;color:#e57f1d;background:none;}

.bottomrightcart
{
	background:#e8e8e8 url(bottomrightcart.jpg) right bottom no-repeat;margin:15px 0px;
}
.bottomleftcart
{
	background: url(bottomleftcart.jpg) left bottom no-repeat;text-align:center;display:block;
}
.next {margin:3px 10px;float:right;}

.update {margin:3px 10px;float:right;display:inline-block;width:120px;}
.update span {display:inline-block;padding-top:10px;}

/*------------------shoppingcart----------------------------*/
.shoppingcart
{background:#e8e8e8 url(bottomrightcart.jpg) right bottom no-repeat;width:196px;margin-top:10px;}

.shoppingcart div.titles {margin:0px auto;width:190px;background: url('greendots.gif') center bottom repeat-x;display:block;}

.shoppingcart div.inneritem {margin:0px auto;width:190px;background: url('italgreendots.gif') center bottom repeat-x;display:block;}

.shoppingcart span.titlename {text-align:left;float:left;display:block;padding:4px;font-weight:bold;color:#606357;font-size:12px;}

.shoppingcart span.title {width:30px;float:right;display:block;padding:5px 4px;font-weight:bold;color:#606357;font-size:12px;}

.shoppingcart span.itemname {text-align:left;width:105px;float:left;display:block;padding:7px 0px 10px 4px;color:#606357;font-size:12px;}

.shoppingcart span.item {width:30px;float:right;display:block;padding:7px 4px 10px 4px;color:#606357;font-size:12px;}

.shoppingcart div.total {text-align:left;padding:10px 10px;color:#e57f1d;}

.shoppingcart A, .shoppingcart A:link, .shoppingcart A:visited, .shoppingcart A:focus, .shoppingcart A:active
{color:#f38620;padding:5px 0px;display:inline-block;}

.shoppingcart A:hover 
{color:#000;}

/*------------------------drop-down------------------------*/
.cssmenu li:hover>ul{display:block;}

.cssmenu {font-size:13px;white-space:nowrap;display:block;}

.cssmenu A, .cssmenu A:link, .cssmenu A:visited, .cssmenu A:focus, .cssmenu A:active
{outline-style:none;color:#000;}

.cssmenu A:hover
{color: #f38620;}

.cssmenu li
{
	padding:0px;
	margin:0px;
	float:left;
	list-style: none;
}

.cssmenu span {display:block;padding:0px 10px;}

.cssmenu a
{
	display:block;
	text-align:left;
	/*_padding-left:0;*/
	font-size:13px;
	cursor:pointer;
}

.cssmenu li.this a
{color: #f38620;}

/*--------------------------------drop-down-level2-------------------*/
.cssmenu ul
{
	display:none;
	position: absolute;
	left:-1px;
	top:98%;
	/*opacity:0.9;
	-moz-opacity:0.9;
	filter:alpha(opacity=80);*/
	background:#fff;
	padding:0px 2px 10px 2px;
	width:170px;
} 

.cssmenu ul li A, .cssmenu ul li A:link, .cssmenu ul li A:visited, .cssmenu ul li A:focus, .cssmenu ul li A:active
{color:#000;font-size:11px;padding:13px 3px 0px 8px; }

.cssmenu ul li A:hover
{color: #f38620;}

.cssmenu li:hover
{position:relative;}

/*----------------------indexnews--------------------------*/
#indexnews
{background:#c5ddfb url(leftnews.gif) no-repeat;margin-top:10px;display:block;width:100%;}

#indexnews div.right
{background: url(rightnews.gif) right top no-repeat;line-height:18px;height:24px;}

.titlenews {display:block;float:left;margin:3px 0px 0px 10px;}

.HPnews_style
{display:none;}

.HPnews_show
{overflow: auto;}

.HPnews_border
{overflow: auto;line-height:22px;}

.HPbuttondiv
{float: left;margin:3px 10px;}
 
/*-------------------------indexlinks----------------------*/
#indexlinks
{background:#ffdfbf url(leftlinks.gif) no-repeat;display:block;width:100%;}

#indexlinks div.right
{background: url(rightlinks.gif) right top no-repeat;line-height:18px;height:24px;}

#indexlinks img
{margin:9px 10px 0px 10px;cursor:pointer;}

.titlelinks {display:block;float:left;margin:3px 0px 0px 10px;color:#f38620;cursor:pointer;}

/*---------------------quicklinks--------------------------*/
#quicklinks
{
	display:none;
	z-index:101;
	position: absolute;
	background:#ffdfbf;
	border-bottom:2px solid #e9ccaf;
	padding:3px 0px 5px 5px;
	width:150px;
	margin:3px 0px 0px 8px;
}

#quicklinks A, #quicklinks A:link, #quicklinks A:visited, #quicklinks A:focus, #quicklinks A:active
{color:#f38620;}

#quicklinks A:hover 
{color:#000;}

/*----------------results---------------------------------*/
.results {color:#f38620;font-size:14px;}
.results span {font-weight:bold;font-style:italic;font-size:14px;}

/*-------------------docs---------------------------------*/
.docs {margin:2px 0px;}
.docs img {margin-right:5px;}

/*--------------------lists-------------------------------*/
.lists {width:100%;margin-bottom:15px;border-bottom:1px solid #e5e5e5;padding-bottom:5px;display:block;}
.lists div.docs{margin:5px 15px;}
.lists div.docs img{margin-right:5px;}

/*--------------------mainforum---------------------------*/
.mainforum {float:right;width:246px;}
.mainforum span {font-size:20px;color:#006ade;}

.mainforum A, .mainforum A:link, .mainforum A:visited, .mainforum A:focus, .mainforum A:active
{font-size:20px;color:#006ade;}

.mainforum A:hover 
{color:#000;}

/*-----------------------addmain--------------------------*/
.addmain {background: url(addmain.gif) no-repeat;width:101px;height:23px;line-height:23px;text-align:center;}

.addmain A, .addmain A:link, .addmain A:visited, .addmain A:focus, .addmain A:active
{color:#a10000;}

.addmain A:hover 
{color:#000;}

/*--------------------addcomment--------------------------*/
.addcomment {float:left;background: url(addcomment.gif) no-repeat;width:101px;height:23px;line-height:23px;text-align:center;margin-top:10px;}

.addcomment A, .addcomment A:link, .addcomment A:visited, .addcomment A:focus, .addcomment A:active
{color:#fff !important;}

.addcomment A:hover 
{color:#000;}

/*-----------------forum----------------------------------*/
.forum {}
.forum td.dataline {border-left:1px solid #fff;border-right:1px solid #fff;padding:3px 5px;}
.forum td {font-size:13px;padding-top:10px;color:#153f74;}
.forum A, .forum A:link, .forum A:visited, .forum A:focus, .forum A:active
{color:#153f74;font-size:12px;}

.forum A:hover 
{color:#000;}

.forum td.blankwhite {background:#fff;height:3px;font-size:3px;}

/*--------------------------------------------------------*/
.righttext {text-align:right;}
.lefttext {text-align:left;}
.justifytext {text-align:justify;}
.centertext {text-align:center;}

/*---------------------infiniteCarousel-------------------*/
.infiniteCarousel {position: relative;width: 300px;}
.infiniteCarousel .wrapper 
{
	overflow: hidden;
	position: absolute;width: 300px;
	top: 0;
}

.infiniteCarousel .wrapper ul 
{
	width: 9999px;  list-style-image:none;
	list-style-position:outside;  list-style-type:none;  margin:0;
	padding:0;  position: relative;  top: 0;
	overflow:hidden;
}

.infiniteCarousel ul li 
{
	list-style-type: none;
	display:block;
	float:left;
	padding: 5px 13px 0px 0px;
	height: 65px;
	width: 65px;
	background:none;
}
.infiniteCarousel ul li a img {display:block;}

.infiniteCarousel .arrow
{
	display:block;  height: 32px;  width: 33px;
	background: url(rl.png) no-repeat 0 0px;  text-indent: -999px;  position: absolute;  top: 75px;
	cursor: pointer;
}
.infiniteCarousel .forward {  background-position: -38px 0px;  right: 0;}
.infiniteCarousel .back {  background-position: -38 0px;  left: 0;}

.infiniteCarousel .forward:hover {  background-position: -38 0px;}
.infiniteCarousel .back:hover {  background-position: -38 0px;}

/*---------------------carouselthumbs-------------*/
.carouselthumbs {
width:65px;height:65px;overflow:hidden;
padding:0px;margin:0px;text-align:center;cursor:pointer;
}

/*---------------------imagesgallery--------------*/
.imagesgallery
{float:right;width:300px;min-height:400px;margin-left:10px;overflow:hidden;}

/*---------------------logo-----------------------*/
.logo {float:left;margin-left:15px;}

.contactus {float:right;margin-top:27px;margin-right:20px;}

/*-------------------margintop--------------------*/
.margintop {margin-top:6px;}

/*-----------------------clear--------------------*/ 
.clear {clear:both;height:1px;font-size:1px;}

/*-------------------notfloatleft-----------------*/
.notfloatleft {height:23px;margin-bottom:8px;float:left;}



.frame {background:#f0f0f0;width:173px;height:270px;float:left;border:1px solid #cccccc;padding-top:10px;}


/*---------------------contact--------------------*/
.contact {}

.contact select {text-align:left;color:#6699ff;font-size:12px;margin:2px 0px 2px 5px;border:1px solid #ccc;width:162px;padding:0px 0px 0px 3px;}


.contact input {text-align:left;border:1px solid #ccc;color:#6699ff;font-size:12px;margin:2px 0px 2px 5px;width:150px;height:15px;padding:3px 5px 0px 5px;}

.contact input:hover {color:#6699ff;background:#ebebeb;}

.contact textarea {text-align:left;border:1px solid #ccc;width:150px;min-height:50px;color:#6699ff;font-size:12px;margin:6px 0px 2px 5px;padding:3px 5px 0px 5px;}

.contact textarea:hover {color:#6699ff;background:#ebebeb;}

.contact span.remark {display:block;text-align:center;padding-bottom:5px;}

.contact span {margin:0px 10px 0px 0px;display:inline-block;font-size:12px;padding:5px 0px 0px 6px;width:60px;float:left;}

.contact span.long {margin:0px 10px 0px 5px;display:inline-block;font-size:12px;padding:5px 0px 0px 6px;width:150px;float:left;}


.contact img {width:24px;height:20px;margin:4px 7px 4px 0px;}

.contact input.checkbox {width:15px;background:none;border:none;margin:4px 2px 0px 0px;float:right;display:inline;}

.contact input.send {margin:10px 0px 0px 6px;float:left;width:70px;font-size:17px;height:26px;padding:4px 0px;border:none;background:#9a292f;color:#fff;text-align:center;cursor:hand;}

.contact input.send:hover {background:#881c22;color:#fff;}

.contacttitle {background:#f38620;color:#fff;text-align:center;font-size:16px;padding:3px;margin:20px 0px 1px 0px;}

.contactend {background:none;color:#ff0000;font-size:11px;/*padding:0px;min-height:30px;*/width:160px;}

#ImgCaptcha {width:150px;margin-left:10px;}

.contact p
{
	color:#f38620;
	font-size:13px;
	font-weight:bold;
	text-align:center;
	direction:rtl;
	white-space:nowrap;
	padding-top:7px;
	margin-top:5px;
	background: url(dots.gif) center top no-repeat;
}

/*---------------------inputcolor2------------------*/
.inputcolor2 {
background: url(bgbutton.gif) no-repeat !important;
height:34px !important;
width:88px !important;
color:#fff !important;
text-align:center !important;
cursor:pointer;
font-size:17px !important;
float:left;
padding:0px 1px 0px 0px !important;
margin:0px 0px 0px 8px !important;
border:none !important;
}

.inputcolor2:hover {background: url(bgbutton2.jpg) no-repeat !important;}

.inputcolor3 {background:none !important;border:none !important;float:right;margin-right:2px !important;height:19px !important;width:58px !important;}

/*---------------------inputcolor------------------*/
.inputcolor {
background: url(bgbutton.jpg) no-repeat !important;
height:34px !important;
width:88px !important;
color:#fff !important;
text-align:center !important;
cursor:pointer;
font-size:17px !important;
float:left;
padding:0px 1px 0px 0px !important;
margin:0px 0px 0px 0px !important;
border:none !important;
}
.inputcolor:hover {background: url(bgbutton2a.jpg) no-repeat !important;}


/*--------------------------visite---------------*/
.visite {float:right;}




/*---------------------NEW-------------------*/
/*---------------------NEW-------------------*/
/*---------------------NEW-------------------*/
/*---------------------NEW-------------------*/
/*---------------------NEW-------------------*/

/*-----------------------calendar-----------------*/
.calendar {width:180px;float:right;margin:10px 0px 0px 0px;text-align:center;}

.calendar h2 {color:#000;font-size:18px;margin-bottom:10px;}
.calendar h3 {color:#000;font-size:16px;font-weight:normal;}
.calendar th {color:#000;font-size:14px;text-align:center;}
.calendar td div {color:#000;font-size:12px;text-align:center;}
.calendar td.now {/*background: url('bgnow.png') center center no-repeat;*/}
.calendar td {width:23px;height:23px;text-align:center;vertical-align:middle;}
.calendar img {margin:3px 7px 0px 7px;}
.calendar A, .calendar A:link, .calendar A:visited, .calendar A:focus, .calendar A:active
{color:#000;background: url('bgday.png') center center no-repeat;display:block;height:23px;padding-right:1px;padding-top:2px;text-align:center;font-weight:bold;}

.calendar A:hover 
{color:#000;}

.nobackground {background:none !important;}

/*--------------------footer---------------------*/
.footer{text-align:center;margin:10px;color:#999999;font-size:11px;}

.footer A, .footer A:link, .footer A:visited, .footer A:focus, .footer A:active
{color:#999999;font-size:11px;}

.footer A:hover 
{color:#000 !important;}

.footer p {color:#999999;font-size:11px;}


.footertext {color:#999999;font-size:12px;padding:10px 20px;
border-top:5px solid #474747;margin: 0px auto;width: 960px;
border-bottom:5px solid #f38620;background:#333;overflow:hidden;}

.footertext p {color:#999999;font-size:12px;text-align:center;}

.footertext p a {color:#fff;}

.footertext A:hover 
{color:#fff !important;}

.footertextin {color:#999999;font-size:12px;
border-top:5px solid #cccccc;margin: 0px auto;width: 1000px;
border-bottom:5px solid #cccccc;overflow:hidden;}

.footertextin p a {color:#000;}

.footertextin p {color:#666666;font-size:12px;background:#f2f2f2;padding:10px 20px;margin-top:3px;text-align:center;}

.footertextin A:hover 
{color:#000 !important;}


/*---------------------borders-------------------*/
 #borders {
    background: #f4f4f4;
    border: 1px solid #f0f0f0;
    width: 156px;
    height: 156px;
    margin: 0px 0px 10px 50px;
    position: relative;
    float:right;
}

#borders:before {
    border: 1px solid #d0cfcf;
    content: '';
    width: 154px;
    height: 154px;
    position: absolute;
}

#borders:after {
    content: '';
    position: absolute;
    width: 152px;
    height: 152px;
    border: 1px solid #b8b8b8;
    left: 1px; top: 1px;
}

/*--------------------slider------------------------*/
#cont{

	position: relative;
	height:370px;  
	width:465px;
}

#slide{
	overflow: hidden;
	position: absolute;
	bottom:0;
	border-right:3px solid #f38620;
    border-left:3px solid #f38620;
    border-bottom:3px solid #f38620;
    /*background:#000;*/
    width:465px;
    height:300px;
}

#slide img {margin:8px 0px 10px 10px;float:right;}

#slide div{
	display:none;
	position:absolute;
	width:465px;
	height:300px;
}

#slide div span.trans {
    opacity: .7;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	background-color: #000;
	padding:10px 20px;
	width:425px;
	color:#fff;
    font-size:16px;
    line-height:21px;
    display:block;
}

#slide div p {
   display:inline;
   color:#fff;
   font-size:16px;
   line-height:21px;
}

.bullets{
  overflow:hidden;
    width:471px;
    height:70px;
    position:absolute;
    top:0;
}

.tab_1 {position:absolute;left:0px;}
.tab_2 {position:absolute;left:117px;}
.tab_3 {position:absolute;left:234px;}
.tab_4 {position:absolute;left:351px;}

.bullet h2{font-size:14px;color:#999999 !important;}

.bullet.activo h2 {color:#fff !important;}
.bullet:hover h2 {color:#fff !important;}

.bullet{
	color:#999999 !important;
    font-size:14px;
    width:107px;
    height:55px;
    display:block;
    text-align:left;
    font-weight:bold;
    background: url(bgtab2.jpg) center bottom no-repeat;
    padding:10px 3px 5px 10px;
    float:left;

}
.bullet:hover {
    background:#4c4c4c;
    color:#fff;
    z-index:5;
    background: url(bgtab.jpg) no-repeat;
}  

.bullet.activo{
	color:#fff;
	background:#4c4c4c;
	z-index:5;
	background: url(bgtab.jpg) no-repeat;
}

/*----------------------navigator------------------*/
.navigator {
	padding: 6px 0 6px 0;
	font-size: .85em;
	}

.navigator a, .navigator a:link {
	padding: 6px 10px; 
	margin: 2px;
	text-decoration: none;
	color: #000;
	background-color: #ccc;	
}
.navigator a:visited {
	padding: 6px 10px;
	margin: 2px;
	text-decoration: none;
	color: #000;
	background-color: #666;	
}
.navigator a:hover {	
	color: #FFFFFF;
	background-color: #1e1e1e;
}
.navigator a:active {
	padding: 6px 10px;
	margin: 2px;
	text-decoration: none;
	color: #000;
	background-color: #131211;	
}
.navigator span.pagenav {
	padding: 6px 10px;
	margin: 2px 2px 2px 2px;
	color: #000;
	background-color: #131211;
}
.navigator a.current {
	padding: 6px 10px;
	margin: 2px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #f38620;
}
.navigator span.extend {
	padding: 6px 10px;
	margin: 2px;	
	color: #aaaaaa;
	background-color: #131211;
}

/*--------------------fadebox------------------------*/

#fadebox h2 {font-weight: bold;}

#fadebox div.portfolio {background: #eee;float:right;margin:10px 0px 10px 15px;width:235px;height:110px;}

#fadebox div.portfolio div.framegallery {position:relative;margin:5px;height:100px;overflow:hidden;}

#fadebox div.portfolio img {position: absolute;width:225px;z-index:3;top:0;left:0;}

#fadebox div.portfolio span {text-align:center;line-height:95px;}


/*--------------------boxgrid------------------------*/
.bgup{
	width: 240px;
	height: 150px;
	margin:10px 5px;
	float:right;
	border: 3px solid #f3f3f3;
	overflow: hidden;
	position: relative;
}

.bgup img{position: absolute; top: 0; left: 0; border: 0; }

.boxcaption{
	float: left;
	position: absolute;
	height: 250px;
	
	width: 100%;
	opacity: .8;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	background-color: #fff;
}
.caption .boxcaption {top: 110px;left: 0;}

.bgup h3 {top:0px;font-weight:bold;margin:10px 10px;}

.bgup span {top:0px;margin:10px 10px;display:block;}

/*--------------------scroller------------------------*/
#scroller {
	width: 550px;
	height: 400px;
	margin: 0px auto;
} 

#scroller .overtext {
	z-index: 10;
	position: relative;
	bottom: 70px;
	width: 500px;
	height: 50px;
	float: left;
	padding-top: 7px;
}

#scroller .overtext .otitle {
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	width: 500px;
	padding-left: 10px;
	float: left;
	margin-bottom: 2px;
}

#scroller .overtext .odes {
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	width: 500px;
	padding-left: 10px;
	line-height: 17px;
	float: left;
}

#slideshow {
	margin-left: 25px;
}

.pics { height: 300px; width: 500px; padding:0; margin:0; overflow: hidden; }
.pics img { height: 300px; width: 500px; background-color: #fff; top:0; left:0;
	border-style: none;
}

.snav {height: 25px;}

.snav a span#prev {
	width: 30px;
	height: 30px;
	float: left;
	position: relative;
	top: 165px;
	background: url(prev.png) no-repeat;
	text-indent: -5000px;
	left: 5px;
}

.snav a:hover span#prev {
	/*background-position: 0 -27px;*/
}

.snav a span#next {
	width: 30px;
	height: 30px;
	float: right;
	position: relative;
	top: 165px;
	background: url(next.png) no-repeat;
	text-indent: -5000px;
	right: 4px;
}

.snav a:hover span#next {
	/*background-position: 0 -27px;*/
}

#nav { position: relative;
	height: 30px;
	margin: 10px 0px 0px 160px;
}

	#nav li { float: left; list-style: none;color:#000;}
	#nav a { padding: 3px 5px; text-decoration: none;
	width: 35px;
	float: left;
	font-weight:bold;
	font-size:14px;
	margin-right: 13px;
	height: 33px;color:#000;
	/*text-indent: -5000px;*/
}

#nav a:focus { outline: none; }


/*------------------borderbox---------------------*/
.borderbox {height:150px;}

.borderbox div.cut:hover {border:10px solid #c3c3c2;}

.borderbox div.cut {height:113px;overflow:hidden;border:10px solid #e6e7e7;}

/*---------------slidlink-----------------*/
.slidlink {margin:0px 20%;}

/*---------------fadepictures-----------------*/
.fadepictures {float:right;margin:10px 0px 10px 15px;width:230px;}

.fadepictures div {height:100px;overflow:hidden;margin:5px 0px;}

/*-----------boxanimate---------------------------*/
#boxanimate {float:right;margin:10px 0px 10px 20px;width:170px;background:#f3f3f3;}

#boxanimate h3 {font-weight:bold;margin:0px;}

#boxanimate div {display:inline;height:113px;overflow:hidden;}

#boxanimate  a {
display: block;
padding: 10px;
cursor:pointer;
color: #000;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

#boxanimate h3:hover {color:#fff;}

#boxanimate a:hover {
color: #fff;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

/*--------------------toplinks------------------------*/
.toplinks {font-size:11px;text-align:right;margin:10px 0px 0px 2px;float:right;color:#444;display:inline;}

.toplinks A, .toplinks A:link, .toplinks A:visited, .toplinks A:focus, .toplinks A:active
{color:#444;font-size:11px;padding:0px 0px 0px 3px;}

.toplinks A:hover 
{color:#000;}

.toplinks div.in
{
	display:inline;
	width:140px;
	float:right;
	margin-left:10px;
	background: url(bginputeng.gif) left top no-repeat;
}

.in input.go {width:40px;margin:0px;padding:0px;float:right;}

.toplinks input {border:none !important;float:right;}


/*---------------------corners--------------------*/
.lt
{background: url(lefttop.gif) left top no-repeat;}
.rt
{background: url(righttop.gif) right top no-repeat;}
.rb
{background: url(rightbottom.gif) right bottom no-repeat;}
.lb
{background: url(leftbottom.gif) left bottom no-repeat;padding:0px 20px 10px 20px;}
.lc
{background:#ffffff url(lc.gif) left center repeat-y;}
.top
{background: url(top.gif) center top repeat-x;}
.rc
{background: url(rc.gif) right center repeat-y;}



.flt
{background: url(flefttop.gif) left top no-repeat;}
.frt
{background: url(frighttop.gif) right top no-repeat;}
.frb
{background: url(frightbottom.gif) right bottom no-repeat;overflow:hidden;}
.flb
{background: url(fleftbottom.gif) left bottom no-repeat;padding:5px 5px;display:inline-block;}
.flc
{background:#eeeeec url(flc.gif) left center repeat-y;-display:none !important;}
.ftop
{background: url(ftop.gif) center top repeat-x;}
.frc
{background: url(frc.gif) right center repeat-y;}
.fbottom
{background: url(fbottom.gif) center bottom repeat-x;display:inline-block;}

.cornerlt
{background: url(cornerlt.gif) left top no-repeat;margin-bottom:5px;}
.cornerrt
{background: url(cornerrt2.gif) right top no-repeat;}
.cornerrb
{background: url(cornerrb.gif) right bottom no-repeat;}
.cornerlb
{background: url(cornerlb2.gif) left bottom no-repeat;}


/*---------------------inputcolor------------------*/
.inputcolor {
background: url(bgbutton.jpg) no-repeat;
height:34px;
width:88px !important;
color:#fff;font-size:14px;
font-weight:normal; 
border:none;}



/*---------textcontent--------------*/
.textcontent 
{
	padding:20px;
	background: url(bgorange.jpg) no-repeat;
	width:431px;
	font-size:14px;
	height:300px;
	color:#000;
}
.textcontent p
{
	color:#000;margin:0px;
}
.textcontent h1
{
	margin-top:0px;font-size:18px;
}
.noborder {border:none;}


/*------------------clients------------------*/

#clients {width:150px;height:150px;float:right;margin:10px 0px 10px 30px;overflow:hidden;border:3px solid #ccc;}

#clients div {height:150px;text-align:center;overflow:hidden;}

#clients span {
	width:140px;height:30px;
	margin:58px 0px 0px 0px;
	padding:3px 5px;
	display: none;
	position: absolute;
	font-style: bold;
	font-size: 20px;
	color: #fff;
	opacity: .7;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	background:#f38620;
	text-align: center;
}

#clients div:hover span {
	display: block;
}



.slogan {display:block;color:#666666;font-size:17px;padding-top:52px;float:left;font-style:italic;}
.slogan strong {color:#000;font-size:18px;font-style:italic;}

 
.sun {background:#333 url(sun.jpg) no-repeat;overflow:hidden;padding:20px 20px 0px 20px;}


/*----------orangebox----------------*/
.orangebox {
background:#f38620 url(bgorangebox.jpg) repeat-x;
padding:15px 5px 9px 10px;margin-bottom:30px;
height:275px;width:200px;float:left;margin-right:35px;
}
.orangebox h3 {font-weight:bold;}
.orangebox div {height:230px;}

.orangebox a {background: url(arrowwhite.gif) left 5px no-repeat;margin:3px 0px;
padding-left:13px;display:block;color:#fff;}

.orangebox A:hover 
{color:#000;}


.orangebox a.all {background: url(bigarrow.gif) right 3px no-repeat;
padding-right:20px;display:block;color:#000;font-size:14px;text-align:right;}

.orangebox a.all:hover {color:#fff;}



/*---------------orangeboxright--------------*/
.orangeboxright {background:#f38620 url(bgorangebox.jpg) repeat-x;
padding:15px 0px 9px 0px;margin-bottom:30px;
height:275px;width:215px;float:left;color:#fff;}

.orangeboxright img {width:215px;}

.orangeboxright h3 {margin:0px 0px 5px 10px;font-weight:bold;}

.orangeboxright div {height:238px;}
.orangeboxright p {color:#fff;}
.orangeboxright a.all {background: url(bigarrow.gif) right 3px no-repeat;
padding-right:20px;display:block;color:#000;font-size:14px;text-align:right;margin-right:5px;}

.orangeboxright a.all:hover {color:#fff;}

.orangeboxright span {color:#fff;display:block;line-height:19px;padding:0px 5px 0px 10px;}

.orangeboxright span.title {font-weight:bold;}





/*---------------------tab---------------------*/
.tabsarea {
    border-right:3px solid #f38620;
    border-left:3px solid #f38620;
    border-bottom:3px solid #f38620;
    background:#000;
    width:465px;
}

.tabs {
    overflow:hidden;
    width:472px;
    height:70px;
    position:relative;
}

#tab_1 {position:absolute;left:0px;}
#tab_2 {position:absolute;left:117px;}
#tab_3 {position:absolute;left:234px;}
#tab_4 {position:absolute;left:351px;}

.tabs a {
    color:#999999;
    font-size:14px;
    width:107px;
    height:55px;
    display:block;
    text-align:left;
    font-weight:bold;
    background: url(bgtab2.jpg) center bottom no-repeat;
    padding:10px 3px 5px 10px;
    float:left;
} 

.tabs a:hover {
    background:#4c4c4c;
    color:#fff;
    z-index:5;
    background: url(bgtab.jpg) no-repeat;
}  

.tabs a.active {
    background:#4c4c4c;
    color:#fff;
    z-index:5;
    background: url(bgtab.jpg) no-repeat;
}  

.content {
    height:300px;  
}

.content img {
    float:right;margin-top:7px;margin-left:7px;
}

.content p {
    opacity: .7;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	background-color: #000;
	padding:10px 20px;
	color:#fff;
    font-size:16px;
    line-height:21px;
}

#content_1 {background: url(tab3.jpg) no-repeat;}
#content_2 {background: url(tab2.jpg) no-repeat;}
#content_3 {background: url(tab1.jpg) no-repeat;}
#content_4 {background: url(tab4.jpg) no-repeat;}

#content_2, #content_3, #content_4 { display:none; }



/*------------------------quickbox-------------------*/

.quickbox {
width:170px;
padding:0px 10px 10px 10px;
line-height:16px;
float:left;}

.quickbox h4 {font-family:arial;font-size:12px;color:#666666;margin-bottom:0px;}

.quickbox A, .quickbox A:link, .quickbox A:visited, .quickbox A:focus, .quickbox A:active
{color:#999999;font-size:11px;}

.quickbox A:hover 
{color:#000;}


.imglist {overflow:hidden;border-bottom:1px solid #ccc;padding-bottom:10px;line-height:19px;margin-bottom:30px;}
.imglist img {float:left;margin-right:15px;}
.imglist h4 {margin-bottom:5px;font-weight:bold;}
.imglist A {color:#f38620;}

.space {margin-left:10px;}

.space span {color:#000;}



.tablein {border-top:1px solid #ccc;border-right:1px solid #ccc;background:#fff;width:100%;}

.tablein td {border-bottom:1px solid #ccc;border-left:1px solid #ccc;padding:5px;}

.tablein td.tableHeader {background:#f3f3f3;font-weight:bold;border-bottom:1px solid #ccc;border-left:1px solid #ccc;padding:5px;}
.tablein td.tableHeader3 {background:#f3f3f3;padding-top:20px;text-align:center;}
.tablein td.tableHeader2 {text-align:center;color:#f38620;background:#f3f3f3;font-weight:bold;
border-bottom:1px solid #ccc;border-left:1px solid #ccc;padding:5px;font-size:20px;}
.tablein td.tableHeader2 span {font-size:13px;}

.tablein input {border:1px solid #666;}