* html #TB_overlay { /* ie6 hack */
    /*position: absolute;
    height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');*/
}
* html #TB_window { /* ie6 hack */
	/*position: absolute;
	margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');*/
}
* html #TB_load { /* ie6 hack */
	/*position: absolute;
	margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');*/
}

#TB_overlay {
	position: fixed;
	z-index:100;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
}

.TB_overlayBG {
	background-color:#000;
	filter:alpha(opacity=75);
	-moz-opacity: 0.75;
	opacity: 0.75;
}

#TB_window {
	background: #ffffff;
	position: fixed;
	z-index: 102;
	top:50%;
	left:50%;
	color:#000000;
	display:none;
	border: 4px solid #525252;
	font: 12px Arial;
	color: #333333;
}

#TB_window A, #TB_window A:link, #TB_window A:visited, #TB_window A:focus, #TB_window A:active
{color:#666666;} 

#TB_window A:hover 
{color:#000;}

#TB_window img#TB_Image {
	display:block;
	margin: 5px 10px 10px 15px;
	border: 1px solid #666;
}

#TB_secondLine {
	direction:ltr; /*heb eng*/
	color:#666666;
	padding:5px 15px 10px 15px;
}

#TB_closeWindow{
	height:32px;
	width:32px;
	float:right;
	/*dispaly:block;*/
	margin-right:-16px;
	margin-top:-16px;
}

/*----------------------picname--------------------*/
.picname
{color:#aaa;font-size:20px;font-weight:bold;}